Pillow
requests
gallery-dl
numpy
torch
torchvision
onnxruntime-gpu
opencv-python-headless
scikit-learn
insightface
transformers
accelerate
sentencepiece
google-genai
anthropic
openai
modelscope
bitsandbytes
